@font-face {
  font-family: 'MainTheme';
  src: url('../fonts/Rubik-VariableFont_wght.ttf');
}
.font-brand {
  font-family: MainTheme;
  color: #7e98df;
}
.font-theme {
  font-family: MainTheme;
}
.font-theme-c1 {
  font-family: MainTheme;
  color: #2675ec;
}
.font-theme-c2 {
  font-family: MainTheme;
  color: #848484;
}
.color-main {
  color: #7e98df;
}
.color-main-bg {
  background-color: #7e98df;
}
.txt-left {
  float: left;
}
.no-padding {
  padding: 0px;
}